body {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer" ;
}
header {background-color: rgb(39, 28, 28);color: white;padding: 20px;grid-area: header;}

nav {background-color: rgb(255, 0, 0);grid-area: nav;}

main {background-color: rgb(139, 0, 0);color: white;grid-area: main; padding: 10px;}

aside {background-color: rgb(255, 255, 255);grid-area: aside;}

footer {background-color: rgb(0, 0, 0);color: white;grid-area: footer;}